:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, #root{
  height: 100%;      /* full height */
  width: 100%;       /* full width */
  margin: 0;         /* remove default body margin */
  padding: 0;        /* remove default padding */
  text-align: center;
}
*{
  margin: 0; padding: 0;
}
ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.navLinks {
  display:flex;
  flex-direction: row;
  justify-content: center;
  *{
  color: #949494;
  }
}
.navLinks >* {
  margin:0 2em
}
.footer {
  height: 60px;
  background: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main fills remaining space */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow-y: auto; /* lets it scroll if content is tall */
  margin:0 2em

}

/*Home*/
.personalProjects, .schoolProjects{
  /* flex: content;
  justify-self:start; */
  h1 {
    margin: 20px 0;
  }
}

/*Goup cards*/
.cards{
  display: flex;
  gap:1%;
  flex-wrap: wrap;
  margin:0 1em

}
.groupCard{
  flex:49%;
  border-radius: 5px;
  border: solid 1px #363636;
  margin-bottom: 1%;
  /* padding-bottom: 1%; */
}


.groupTitle {
  background-color:#2c2c2c;;
  font-size: x-large;
}
.projectItem{
  display: flex;
  flex-direction: row;
  min-height: 100px;

  td {
    padding: 1%;
    align-content: center;

    flex:1;
    border: solid 1px #363636;
    a>*{
      width: 40px;
      font-size: 1.5em;
      color:#171717
    }
  }
  .tags, .languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .item {
      padding:0 3%;
      margin:1%;
      border: solid #363636;
      border-radius: 10px;
      &:hover{
        background-color: #363636;
        cursor: pointer;
      }
    }
  }



}
.projectItemTitle {
  flex:0 0 20%;
  background-color: #464545;
  font-size: larger;
}